:root {
    --darkgreen: #2F4F4F;
    --blue: #00FFFF;
    --green: #66CDAA;
    --purple: #9370DB;
    --pink: #FFB6C1;
    --yellow: #FFF8DC;
    --red: #F08080;
}

/* To make rem defaults easier to measure */

html {
    font-size: 62.5%;
}

/* Homepage settings */

body {
    font-family: monospace;
    background-color: var(--darkgreen);
    font-size: 3rem;
    border: 5px solid var(--yellow);
    padding: 5rem;
}

#home-content {
    display: flex;
    justify-content: center;
}

#quiz-heading {
    text-align: center;
    margin-top: 15%;
}

#quiz-heading h1 {
    font-size: 5rem;
    color: var(--blue);
    line-height: 1.25;
}

#quiz-heading p {
    color: var(--yellow);
    margin-top: 7rem;
}

#start-button {
    padding: 1.5rem;
    margin-top: 10rem;
    background-color: var(--pink);
    border: 3px solid black;
    border-radius: 2rem;
}

#start-button:hover {
    background-color: var(--green);
}

/* Timer */

.time-left {
    position: fixed;
    top: 5%;
    left: 85%;
    color: var(--yellow);
    
}

/* Questions styling */

#questions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#question-text {
    font-size: 4rem;
    color: var(--blue);
    line-height: 1.25;
    text-align: center;
    margin-top: 10%;
    margin-left: 5rem;
    margin-right: 5rem;

}

#answer-buttons {
    margin-top: 10%;
    display: flex;
}

.options {
    padding: 1.5rem;
    margin-top: 20rem;
    margin-left: 5rem;
    width: 20rem;
    background-color: var(--pink);
    border: 3px solid black;
    border-radius: 2rem;
    text-align: center;
}

.options:hover {
    background-color: var(--green);
}

/* Responsive design; need to make the options stack when browser width is small */

@media screen and (max-width: 1200px) {

    #question-text {
        margin-bottom: 5rem;
    }

    .options {
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
        margin-bottom: 5rem;
        flex-shrink: 1;
    }
}
